.consultation{
    min-height: 680px;
    background: url("../../img/consultation.jpg") center center/cover no-repeat;
    padding: 100px 0 92px 0;
    &__discr{
        margin-top: 80px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        width: 397px;
    }
}