.feedback{
    
    &__block{
        margin-top: 70px;
    }
    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 100px;
    }
    &__title{
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__subtitle{
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #646464;
    }
    &__text{
        width:650px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
        margin-top: 19px;
    }
}