.overlay{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .56);
}
.modal{
    width: 380px;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f2f2f2;
    text-align: center;
    padding: 38px 37px 40px 40px;
    &__close{
        position: absolute;
        top: 0;
        right: -33px;
        font-size: 40px;
        line-height: 26px;
        color: $main-color;
        cursor: pointer;
    }
    &__subtitle{
        font-size: 18px;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__desc{
        font-size: 14px;
        font-weight: 500;
        color: #0d0d0d;
    }
    &_mini{
        min-height: 140px;
    }
}
#consultation, #order, #thanks {
    display: none;
}